<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>"Welcome to Blackforce Training"</p>
    <p><%= message %></h1></p>
  </body>
</html>